html * {
    font-family: serif;
    background-color: #EEDBA8;
}

p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-indent: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

img {
    border: 5px solid #5b5541;
    border-radius: 5%;
    opacity: 0.9;
}

h1, h2, h3, h4, h5 {
    color: hsl(237, 17%, 22%)
}